{{ember-load-remover}}
<div class="app-container">
  <h1 class="text-center">Simon Game</h1>

  <div class="circle-container">
    <div class="center-row">
      <div id="blue" class="flex-item {{if bluePulse 'pulse'}}" {{action 'clickButton' 'blue'}}>

      </div>
    </div>

    <div class="middle-row">
      <div id="red" class="flex-item {{if redPulse 'pulse'}}" {{action 'clickButton' 'red'}}>

      </div>
      <span class="level-text"> {{gameState.level}} </span>
      <div id="yellow" class="flex-item {{if yellowPulse 'pulse'}}" {{action 'clickButton' 'yellow'}}>

      </div>
    </div>

    <div class="bottom-row">
      <div id="green" class="flex-item {{if greenPulse 'pulse'}}" {{action 'clickButton' 'green'}}>

      </div>
    </div>

    <div class="bottom-row">

      <div class="setting-item">
        <div class="test">
          {{#x-toggle value=value size='large' showLabels=true onToggle=(action (mut hardMode)) as |toggle|}}
            {{toggle.switch theme='flip' onLabel='Hard' offLabel='Easy'}}
            {{/x-toggle}}
            {{log 'mode: ' hardMode}}
        </div>

      </div>

      <div class="setting-item">
        <button class="btn btn-default" {{action 'start'}}><span class="button-text">Start</span></button>
      </div>
      <div class="setting-item">
        <button class="btn btn-primary"><span class="button-text">Reset</span></button>
      </div>
    </div>


  </div>

</div>
