{{ember-load-remover}}
<div class="app-container">
  <h1 class="text-center">Simon Game</h1>
<p class="text-center"><a href="https://github.com/tchan/ember-tic-tac-toe">View Source</a></p>
  <div class="circle-container">
    <div class="center-row">
      <div id="blue" class="flex-item {{if bluePulse 'pulse'}}" {{action 'clickButton' 'blue'}}>

      </div>
    </div>

    <div class="middle-row">
      <div id="red" class="flex-item {{if redPulse 'pulse'}}" {{action 'clickButton' 'red'}}>

      </div>
      <span class="level-text"> {{gameState.level}} </span>
      <div id="yellow" class="flex-item {{if yellowPulse 'pulse'}}" {{action 'clickButton' 'yellow'}}>

      </div>
    </div>

    <div class="bottom-row">
      <div id="green" class="flex-item {{if greenPulse 'pulse'}}" {{action 'clickButton' 'green'}}>

      </div>
    </div>

    <div class="bottom-row">

      <div class="setting-item">
          {{#x-toggle value=value size='large' showLabels=true onToggle=(action (mut hardMode)) as |toggle|}}
            {{toggle.switch theme='flip' onLabel='Hard' offLabel='Easy'}}
            {{/x-toggle}}
      </div>

      <div class="setting-item">
        <button class="btn btn-default" {{action 'start'}}><span class="button-text">{{if gameState.hasStarted 'Reset' 'Start'}}</span></button>
      </div>
    </div>


  </div>

</div>
